<!-- wp:template-part {"slug":"header","theme":"paxxer","tagName":"header"} /-->

<!-- wp:template-part {"slug":"header-banner-image","theme":"paxxer","tagName":"header","className":"block-template"} /-->

<!-- wp:group {"tagName":"main","className":"block-template"} -->
<main class="wp-block-group block-template"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"services","theme":"paxxer","tagName":"services"} /-->

<!-- wp:template-part {"slug":"about","theme":"paxxer","tagName":"about"} /-->

<!-- wp:template-part {"slug":"introduction","theme":"paxxer","tagName":"introduction"} /-->

<!-- wp:template-part {"slug":"pricing","theme":"paxxer","tagName":"pricing"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-three-column","theme":"paxxer","tagName":"footer","className":"block-template"} /-->
<!-- wp:pattern {"slug":"paxxer/footer-default", "theme":"paxxer","tagName":"footer","className":"block-template"} /-->