<!-- wp:template-part {"slug":"header","theme":"paxxer", "tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained","justifyContent":"center","contentSize":"1440px"}} -->
<div class="wp-block-group"><!-- wp:columns {"align":"wide","className":"wp-block-sidebar-right"} -->
<div class="wp-block-columns alignwide wp-block-sidebar-right"><!-- wp:column {"width":"67.67%","className":"column-right"} -->
<div class="wp-block-column column-right wp-block-primary" style="flex-basis:67.67%"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"full","className":"alignfull","layout":{"inherit":true}} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:group {"layout":{"inherit":true,"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-featured-image {"isLink":true,"align":"full"} /-->

<!-- wp:group {"align":"wide"} -->
<div class="wp-block-group alignwide"><!-- wp:group {"className":"wp-block-post-meta","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group wp-block-post-meta"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /-->

<!-- wp:post-date {"isLink":true} /-->

<!-- wp:post-author {"showAvatar":false} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"moreText":"Continue Reading"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"align":"full","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"fontSize":"small"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"fontSize":"small"} /-->
<!-- /wp:query-pagination --></div>
<!-- wp:query-no-results -->
	<!-- wp:pattern {"slug":"paxxer/hidden-no-results-content"} /-->
	<!-- /wp:query-no-results -->
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","className":"column-right"} -->
<div class="wp-block-column column-right wp-block-secondary" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"paxxer","tagName":"div"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"paxxer/footer-default"} /-->